@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 375px;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding: 50px 30px;
}

/* Top Component */
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ordin {
  display: flex;
  align-items: center;
}

.order {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
  color: rgba(0, 0, 0, 0.9);
}

.inbox {
  width: 28px;
  height: 8px;
  margin-left: 10px;
  background: #D9D9D9;
  border-radius: 4px;
  font-weight: 400;
  font-size: 6px;
  line-height: 7px;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  padding-top: 1px;
}

.ai {
  cursor: pointer;
}

.bsp {
  display: none;
}

.clz {
  fill: rgba(0, 0, 0, 0.7);
}

.rod {
  fill: rgb(241, 190, 60);
}

/* Head Component */
.head {
  margin-top: 20px;
}

.closet1 {
  display: flex;
  justify-content: space-between;
}

.closet2 {
  display: none;
}

.closet-address {
  display: flex;
  align-items: center;
}

.ellipse {
  width: 29px;
  height: 29px;
  background: #D9D9D9;
  border-radius: 100px;
  margin-right: 5px;
}

.closet-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  color: rgba(0, 0, 0, 0.9); 
}

.closet-me {
  font-weight: 300;
  font-size: 7px;
  line-height: 9px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
  margin-left: 1px;
  display: flex;
}

.closet-time {
  font-weight: 300;
  font-size: 6px;
  line-height: 7px;
  color: rgba(0, 0, 0, 0.75);
  margin-left: 5px;
  margin-top: -7px;
}

.irup, .iev {
  cursor: pointer;
}

.irup {
  margin-right: 20px;
}

/* Body Component */
.body {
  width: 270px;
  height: 400px;
  margin: 20px 22px 0px 22px;
  background-color: rgba(245, 245, 245, 0.51);
  border-radius: 1px;
  padding: 20px 15px;
}

.ord-may {
  display: flex;
  justify-content: space-between;
}

.order-no {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.85);
}

.may {
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  color: rgba(0, 0, 0, 0.85)
}


.logo {
  margin-left: 80px;
  margin-top: -10px;
  cursor: pointer;
}

.loGo {
  display: none;
}

.fabrics {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  color: rgba(0, 0, 0, 0.85);
  margin-top: 5px;
}

.confp {
  width: 120px;
  height: 27px;
  margin-top: 20px;
  margin-left: 60px;
  background: #FEB404;
  border-radius: 5px;
  border: none;
  font-weight: 400;
  font-size: 11px;
  line-height: 27px;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  cursor: pointer;
  align-items: center;
}

.street {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.85);
  text-align: center;
  margin-top: 6px;
}

.invoice {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
  margin-top: 30px;
}

.th {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.9);
}

.td {
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.85);
}

table {
  text-align: left;
}

th, td {
  padding: 5px;
}

.st {
  display: flex;
  margin-left:90px;
}

.stp, .stpt, .stpta {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.85);
}

.stpq {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.85);
  margin-left: 18px;
  text-align: right;

}

.stpd {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.03em;
  color: rgba(0, 0, 0, 0.85);
  margin-left: 35px;
  text-align: right;

}

.stpt {
  margin-left: -12px;
}

.stpta {
  margin-bottom: 10px;
}

/* Footer Component */
.purple {
  width: 270px;
  height: 80px;
  background: #AB0767;
  border-radius: 0px;
  margin: 0px 22px 10px 22px;
  padding: 20px 15px;
}

.uns {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  text-decoration: none;
}

.unsd {
  display: none;
}

/* Button Component */

.button {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}

.reply-box {
  width: 90px;
  height: 25px;
  border: 1px solid rgba(219, 24, 128, 0.49);
  border-radius: 10px;
  display: flex;
  padding-top: 4px;
  padding-left: 15px;
}

.reply-text {
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
  padding-left: 10px;
}



/* DESKTOP VIEW */
@media (min-width: 992px) {

  .App {
    padding: 0px 0px;
  }

  body{
    width: 100%;
    margin-top: 40px;
  }

  /* Top Component */

  .order {
    font-size: 28px;
    line-height: 33px;
    margin: 0px 50px;
  }

  .inbox {
    width: 70px;
    height: 20px;
    background: rgba(217, 217, 217, 0.75);
    border-radius: 10px;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.85);
    margin-left: -30px;
    padding-top: 2px;
  }

  .ai {
    display: none;
  }

  .bsp {
    display: block;
  }

  /* Head Component */
  .closet1 {
    display: none;
  }

  .closet2 {
    display: flex;
    justify-content: space-between;
  }

  .block1 {
    display: flex;
  }

  .ellipseD {
    width: 60px;
    height: 60px;
    background: rgba(217, 217, 217, 0.75);
    border-radius: 100px;
    margin: 0px 10px;
  }

  .closet-textD {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: rgba(0, 0, 0, 0.75); 
  }

  .closet-meD {
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: rgba(0, 0, 0, 0.75);
    display: flex;
  }

  .io {
    display: block;
    margin-top: 3px;
    margin-left: 3px;
    cursor: pointer;
  }

  .addressD {
    display: block;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.75);
    margin-top: 3px;
    margin-left: 5px;
  }

  .closet-timeD {
    display: inline-block;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.75);
    margin-right: 30px;
  }

  .irupD, .ievD {
    cursor: pointer;
  }

  .irupD {
    margin-left: 15px;
    margin-right: 40px;
  }


  .aiD {
    display: inline-block;
    margin-right: 40px;
  }

  /* Body Component */
  .body-container {
    display: flex;
    justify-content: center;
  }

  .body {
    width: 900px;
    height: 650px;
    background: rgba(245, 245, 245, 0.51);
  }

  .order-no {
    font-size: 16px;
    line-height: 19px;
  }

  .may {
    font-size: 16px;
    line-height: 19px;
  }

  .logo {
    display: none;
  }

  .loGo {
    display: block;
    margin: 0px 0px 20px 250px;
    cursor: pointer;
  }

  .fabconf {
    display: flex;
    justify-content: space-between;
  }

  .fabrics {
    font-size: 24px;
    line-height: 38px;
  }

  .confp {
    width: 200px;
    height: 45px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 27px;
  }

  .street {
    font-size: 15px;
    line-height: 20px;
  }

  .invoice {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;    
  }

  .th {
    font-size: 20px;
    line-height: 23px;
  }

  .td {
    font-size: 18px;
    line-height: 21px;
  }

  table {
    text-align: left;
    margin-left: 10px;
  }

  th, td {
    padding: 10px 120px 10px 0px;
  }

  .st {
      margin: 10px 0px;
  }

  .stp, .stpt, .stpq, .stpd, .stpta {
    font-size: 18px;
    line-height: 21px;
    
  }

  .stp, .stpq, .stpt {
    margin-left: 285px;
  }

  .stpq {
    margin-left: 120px;
  }

  .stpd {
    margin-left: 150px;
  }

  .stpta {
    margin-left: 75px;
  }

  /* Footer Component */
  .purple {
    width: 100%;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin: 0px;
  }

  .uns {
    display: none;
  }

  .unsd {
    display: inline-block;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 5px;
  }

  /* Button Component */
  .button {
    display: none;
  }

}